.container{
    display: flex;
}

.item{
    height: 200px;
}

.green{
    background-color: green;
    flex-grow: 0.5;
}

.yellow{
    background-color: yellow;
    flex-grow: 1;
}

.purple{
    background-color: purple;
    flex-grow: 0.5;
}

@media (max-width: 768px){
    .container{
    flex-direction: column;
    }
}
